body {
    color: white;
    .navbar {
        background-color: #4E4E50;
        a {
            color: white;
        }
        
    }

    .app-title {
        min-height: 400px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 100px;
            color: white;
            font-weight: bold;
        }

        p {
            font-size: 30px;
            color: white;
        }
    }

    .carousel-inner {
        .carousel-item {
            img {
                width: 500px;
                margin: auto;
            }
        }
    }

    .stat-container {
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .entry {
            width: 47%;
            margin: 10px;
            border: 1px solid;
            border-radius: 8px;
            padding: 10px;

            .title {
                justify-content: space-between;
            }
            
        }
    }

    .welcome-div {
        margin-top: 10px;
        text-align: center;
        color: white;
    }
    .pos {
        color:greenyellow;
    }
    .neg {
        color: red;
    }

    .buttons {
        color: white;
        background-color: #4E4E50;
        border-radius: 8px;
        border:0
    }

    .entry-container {
        color: white;
    }
}

