body {
    background: url('../../poker-img.jpg');
    background-size: cover;

    .app-title {
        min-height: 400px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 100px;
            color: white;
            font-weight: bold;
            text-shadow: 0.05em 0 black, 0 0.01em black, -0.01em 0 black, 0 -0.01em black, -0.01em -0.01em black, -0.01em 0.01em black, 0.01em -0.01em black, 0.01em 0.01em black;
        }

        p {
            font-size: 30px;
            color: white;
            text-shadow: 0.05em 0 black, 0 0.01em black, -0.01em 0 black, 0 -0.01em black, -0.01em -0.01em black, -0.01em 0.01em black, 0.01em -0.01em black, 0.01em 0.01em black;
        }
    }
}

