body {
    color: white;
    .navbar {
        background-color: #4E4E50;
        a {
            color: white;
        }
        
    }

    .app-title {
        min-height: 400px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 100px;
            color: #C3073F;
            font-weight: bold;
        }

        p {
            font-size: 30px;
            color: #C3073F;
        }
    }

    .carousel-inner {
        .carousel-item {
            img {
                width: 500px;
                margin: auto;
            }
        }
    }


    .profile-container {
        h1 {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 100px;
            color: #C3073F;
            font-weight: bold;
        }
        h2 {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 80px;
            color: white;
            font-weight: bold;
            text-align: center;
        }
    }

    .container {
        color: white;

        .entry {
            margin: 10px;
            border: 1px solid;
            border-radius: 8px;
            padding: 10px;

            .title {
                justify-content: space-between;
            }
            .pos {
                color:greenyellow;
            }
            .neg {
                color: red;
            }
        }
    }

}

